{{#extend "index"}}
{{#content "content"}}
<a class="btn btn-primary" href="/admin/qrs">QR коды</a>
<table class="table">
    <thead>
        <th>
            Код
        </th>
        <th>
            Поймано
        </th>
        <th>
            Действия
        </th>
    </thead>
    <tbody>
        {{#each leaderboard}}
        {{#if show}}
        <tr>
            {{#if receivedprize}}
            <td><s>{{emojies}}</s></td>
            <td>
                <s>{{capturedamount}}</s>
            </td>
            <td>
                <a class="btn btn-danger" href="#"
                    onclick="var res = confirm('Исправить за {{emojies}}?'); if (res) {window.location='/fix/{{id}}'}">Исправить</a>
            </td>
            {{else}}
            <td>
                {{emojies}}
            </td>
            <td>
                {{capturedamount}}
            </td>
            <td>
                <a class="btn btn-success" href="#"
                    onclick="var res = confirm('Получить за {{emojies}}?'); if (res) {window.location='/receive/{{id}}'}">Получить</a>
            </td>
            {{/if}}
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>
{{/content}}
{{/extend}}